<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">About Us</a></li>
  <li role="presentation"><a href="#">Contact</a></li>
</ul>
<nav>
  <div class="jumbotron">
    <div class="container">
      <h1>Translation Nation!</h1><img src="assets/globe.png" alt="globe" height="200" width="200">
      <p>Extend your site's reach globally!</p>
      <!-- <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
  </div>
</nav>
